title = "Products"
url = "/products"
layout = "products"
description = "Products page"
meta_description = "Free restaurant theme by templatemo, converted for OctoberCMS"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Our Products</h2>
                    <span>Home / <a href="{{ 'samples/products'|page }}">Products</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="products-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="product-heading">
                    <h2>Hungry ?</h2>
                    <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
                </div>
			</div>
        </div>
        <div class="row">
            <div class="filters col-md-12 col-xs-12">
                <ul id="filters" class="clearfix">
                    <li><span class="filter" data-filter="all">All</span></li>
                    <li><span class="filter" data-filter=".ginger">Ginger</span></li>
                    <li><span class="filter" data-filter=".pizza">Pizza</span></li>
                    <li><span class="filter" data-filter=".pasta">Pasta</span></li>
                    <li><span class="filter" data-filter=".drink">Drink</span></li>
                    <li><span class="filter" data-filter=".hamburger">Hamburger</span></li>
                </ul>
            </div>
        </div>
    

    {% set posts = blogPosts.posts %}

        <div class="row" id="Container">    
            
      <div class="col-md-12">
           {% for post in posts %}
          
            <div class="col-md-4 col-sm-6 pull-right">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                    <p class="info">
                        Posted
                        {% if post.categories.count %} in {% endif %}
                        {% for category in post.categories %}
                            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        on {{ post.published_at|date('M d, Y') }}
                    </p>

                    <p class="excerpt">{{ post.summary }}</p>
                        <div class="portfolio-wrapper">                
                            <div class="portfolio-thumb">
                            
                            {%for  image  in post.featured_images  %}
                                <img src="{{image.path |raw }}" alt="">
                            {%endfor%}
                            
                           
                            </div>
                        </div>
            </div>
            {% endfor %}
            </div>
        </div>
       
   	</div>
</div>
    

            
    
		<div class="pagination">
			<div class="row">   
				<div class="col-md-12">
					<ul>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">>></a></li>
					</ul>
				</div>
			</div>
		</div>